@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
@import './variables';
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: $primary_bg;
  position: relative;
}

header {
  background-color: white;
  padding-bottom: 10px;
}

nav {
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
  width: 70%;
  ul {
    list-style-type: none;
    margin-top: 25px;
    align-items: center;
    width: 100%;

    .navbar__title {
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }

    li {
      display: inline-block;
      font-size: 1.1em;
      margin: 0 15px;
      font-weight: bold;
      cursor: pointer;

      a {
        text-decoration-line: none;
        color: hsl(0, 0%, 75%);

        &:hover {
          color: #3d4250;
        }
      }
    }
  }
}

.flex-class {
  display: flex;
  justify-content: space-between;
}

section {
  padding-bottom: 9rem;
}

.container {
  padding: 30px 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .game__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.board__container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  .board__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    .square {
      background-color: $square_color;
      border: none;
      cursor: pointer;
      color: #fff;
      height: 200px;
      font-size: 3.5em;
      width: 200px;
      border-radius: 10px;
      transition: background-color 0.2s;

      &:hover {
        background-color: #3d4250;
      }
    }
  }
}

.game-options {
  padding: 20px;
  margin-top: 100px;

  p {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }

  .next-move {
    display: flex;
    background-color: #3d4250;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100px;
    font-size: 2em;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  button {
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: none;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    width: 50%;
    letter-spacing: 0.12em;
    font-weight: bold;
    color: white;
  }
}

.button--active {
  background-color: #dc685a;
  cursor: pointer;

  &:hover {
    background-color: #ed786a;
  }
}

.button--disabled {
  background-color: #fc988c;
}

.grid-left__side {
  position: relative;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  margin-top: 40px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  border-radius: 10px;
  margin: 15% auto;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

.container__board {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  .board__four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

    button {
      border: none;
      cursor: pointer;
      color: #fff;
      height: 100px;
      font-size: 3.5em;
      width: 100px;
      border-radius: 5px;
      transition: background-color 0.2s;

      &:hover {
        opacity: 1;
      }
    }
    .class-1 {
      background-color: #254d32;
    }
    .class-2 {
      background-color: #0a369d;
    }
    .class-3 {
      background-color: #090c08;
    }
    .class-4 {
      background-color: #6b0f1a;
    }
    .class-5 {
      background-color: #ff928b;
    }
    .class-6 {
      background-color: #65524d;
    }
    .class-7 {
      background-color: #dd0426;
    }
    .class-8 {
      background-color: #e15a97;
    }
    .class-9 {
      background-color: #6c534e;
    }
    .class-10 {
      background-color: #f374ae;
    }
    .class-11 {
      background-color: #32533d;
    }
    .class-12 {
      background-color: #2d3047;
    }
    .class-13 {
      background-color: #473bf0;
    }
    .class-14 {
      background-color: #1b998b;
    }
    .class-15 {
      background-color: #004e89;
    }
    .class-16 {
      background-color: #00e8fc;
    }
  }
}

.opacity--down {
  opacity: 0.5;
}

.selected {
  opacity: 1;
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .game-options {
    padding: 0;
    margin-top: 0;
  }

  .board__container {
    padding: 0;
    margin-top: 0;
  }

  .container__board {
    padding: 0;
    margin-top: 0;
  }

  .modal {
    margin-top: 0;
  }
}

@media (max-width: 882px) {
  .game {
    .game__container {
      grid-template-columns: 1fr 1fr;
    }
  }

  .board__container {
    .board__grid {
      .square {
        height: 120px;
        width: 120px;
      }
    }
  }

  .container {
    width: 95%;
  }
}

@media (max-width: 670px) {
  .game {
    .game__container {
      grid-template-columns: 1fr;
    }
  }

  .game-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;

    button {
      display: inline;
      width: 25%;
    }

    .next-move {
      width: 60%;
      height: 70px;
    }
  }
  nav {
    width: 100%;
  }
}

@media (max-width: 540px) {
  nav {
    ul {
      li {
        float: right;
      }
    }
  }

  .container__board {
    padding: 5px;

    .board__four {
      button {
        height: 90px;
        width: 90px;
      }
    }
  }
}
